* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    text-align: center;
    background-color: #0d1b2a;
    color: white;

    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#main-heading {
    background-color: #1b263b;
    padding: 30px;
    margin-bottom: 10px;
}

.console-game {
    width: 500px;
    background-color: black;
    color: greenyellow;

    max-height: 200px;
    overflow-y: auto;

    margin: 0 auto;
    text-align: center;
    padding: 10px;
    border: 2px solid rgb(127, 255, 127);
    border-radius: 10px;
}

#rock-btn:disabled, #paper-btn:disabled, #scissors-btn:disabled, #reset-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.rps-btn {
    margin-bottom: 10px;
    padding: 20px 30px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 20px;
    transition: 0.5s;
    background-color: rgb(240, 240, 240);
}

.rps-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}

#rules-heading, #score {
    margin: 10px;
}

.console-game p {
    margin: 20px;
    font-size: 18px;
    font-family: monospace;
}

#reset-btn {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;
}

#rules-heading {
    text-decoration: underline;
}

.human-score-txt {
    color: blue;
}

.computer-score-txt {
    color: red;
}